html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 100%;
    color: #383e47;
    background: #fff;
    width: 100%;
    /*footer height plus padding*/
    margin-bottom: 200px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #FAA61A;
}


p {
    font-size: 1.4em;
    line-height: 1.8em;
}


h1 {
 text-transform: none;
 font: 38px/45px "Open Sans";
 font-weight: bold;
 margin: 0px 0px 16px;
 text-align: center;
}

h2 {
 text-transform: none;
 font: 300 18px/24px "Open sans";
 padding-left: 5em;
 padding-right: 5em;
 margin: 0px 0px 10px;
 text-align: center;
}

h3 {
 text-transform: none;
 font: 24px/35px "Open Sans";
 font-weight: bold;
 color: #2CA25F;
 margin: -10px 0px 0px;
 text-align: center;
}

p {
 text-transform: none;
 font: 14px/35px "Open Sans";
 margin: -20px 0px 0px;
 text-align: cent
}

.title {
 text-transform: none;
 font: 12px/16px "Open Sans";
 font-weight: bold;
 margin: 7px 0px 3px;
 text-align: center;
}

.data_main {
 text-transform: none;
 font: 18px/16px "Open Sans";
 margin: 7px 0px 3px;
 line-height: 24px;
 text-align: center;  
}

.result_data {
 text-transform: none;
 font: 18px/16px "Open Sans";
 margin: 7px 0px 3px;
 line-height: 24px;
}

#salary {
 text-transform: none;
 font: 42px/35px "Open Sans";
 font-weight: bold;
 color: #2CA25F;
 margin: 5px 0px 16px;
}


#character_level {
 text-transform: none;
 font: 24px/35px "Open Sans";
 font-weight: bold;
 color: #383e47;
 margin: 15px 0px 16px;
 float: left;
}

#declaration {
 text-transform: none;
 font: 12px/35px "Open Sans";
 color: #383e47;
 margin: 0px 0px 16px;
}

#graph_title {
 text-transform: none;
 font: 24px/35px "Open Sans";
 font-weight: bold;
 margin: 20px 0px 16px;
 text-align: center;
}

#Layer_1 {
  display: block;
  margin: auto;
}

.wrap {
  margin-top: 3em;
  display: flex;
  justify-content: center; 
}

.inline {
  padding-left: 20px; 
}

.dotted {
  color: #4b444d;
  border-bottom: 1.5px dotted #ccc;
  cursor:pointer;
}

.last_button{
  margin-bottom: 100px;
}


button{
  outline:none;
  box-shadow:none;
  background: #383e47;
  border: 3px solid #383e47;
  padding: 0.5em 2em ;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
  margin:auto;
  display: block;
}

button:hover{
  background: #fff;
  color:#383e47;
}

.tip{
    margin-top: 5em;
    margin-bottom: 2em;
    height:10em;
}

.margin_top {
    margin-top: 10%;
}

.margin_topx2 {
  margin-top: 20%;
}


/*===== SVG WRONG ANSWER ANIMATION =====*/


.dislike {
  transform: translateY(0px);
  animation: popup 1.5s ease infinite;
}
@keyframes popup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.eye {
  animation: squeeze 2.4s infinite;
}


@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(10px) scaleY(0.8)
  }
  100% {
    animation-timing-function: ease-out;
  }
}


/* ======== SVG LINE ANIMATION ======== */


 .active_line {
  -webkit-animation: 5s crazy infinite;
  animation: 5s crazy infinite;    
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  50% {
    stroke-dasharray:600 0;
  }
  
  100% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
}

@keyframes line {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  50% {
    stroke-dasharray:600 0;
  }
  100% {
    stroke-dasharray:0 600; 
    stroke-dashoffset: 10;
  }
}

@-webkit-keyframes crazy {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  
  50% {
    stroke-dasharray:600 0;
  }
  
  70% {
    stroke-dasharray:300 0;
  }
  
  90% {
    stroke-dasharray:0 300;
  }
  
  100% {
    stroke-dasharray:0 600; 
    stroke-dashoffset: 10;
  }
}

@keyframes crazy {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  
  50% {
    stroke-dasharray:600 0;
  }
  
  70% {
    stroke-dasharray:300 0;
  }
  
  90% {
    stroke-dasharray:0 300;
  }
  
  100% {
    stroke-dasharray:0 600; 
    stroke-dashoffset: 10;
  }
}



/* ======== HEADER ======== */ 

.navbar {
    background-color: #eeeeee;
    border-bottom: 1px solid #f9a21b;
    height: 40px;
    min-height: 40px;
    position: relative;
    margin-bottom: 0;
}

.wraper {
    margin-right: 15%;
    margin-left: 15%;
}

.social-icons {
    padding-top: 10px;
}


.logo {
    float: left;
    padding: 1px 19px 0 0;
    margin-top: 8px;
}

.logo img{
    width:95%;
}


.dj_header {

    margin-top: 7px;
    width: 300px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #777;
    font-size: 1.7em;
    text-decoration: none;
    white-space: nowrap;
}

.social-icons {
    color: #999999;
}

.fa-facebook:hover {
    color: #f9a21b;
}

.fa-twitter:hover {
    color: #f9a21b;
}

.bold {
font-weight: bold;
}

/* Scatterplot ================================== */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  opacity: 0.6;
}

.tooltip {
  position: absolute;
  width: 300px;
  height: 60px;
  pointer-events: none;
  background: #fff;
  padding: 2px;
}

.label {
  font-size: 10px;
  font-weight: normal;
}

/* ======== Footer ======== */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: #1c2124 none repeat scroll 0 0;
    text-align: left;
    font-size: 15px;
    display: block;
}

#footer-wraper {
    padding-top:5px;
}

.links li {
    color:#fff;
    font-size: 0.7em;
}

.copyright {
    float: left;
    font-size: 0.7em;
    color: #fff;
}
.copyright p {
    font-size: 1.1em;
}
.copying-info {
    font-size: 0.7em;
    padding-top: 10px;
    line-height: 15px;
    color: #888c91;
}
.support-site:link,
.support-site:visited {
    color: #f9a21b;
}


/*  ========  ANIMATION  ========  */

.square, .circle, .line {
 stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 4s ease-in-out;
  -webkit-animation: dash 4s ease-in-out;
}


@-webkit-keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}


/*INPUT*/

.group        { 
  position:relative; 
  margin-bottom:45px; 
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5em;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:200px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#2CA25F;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:200px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#2CA25F; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#2CA25F; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#2CA25F; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#2CA25F; }
  to  { width:0; background:transparent; }
}

/* RANGE SLIDER STYLES */
.range-slider { color: #BABCBE; width: 350px; margin: -7px auto 40px; }
.input-range { vertical-align: bottom; }

.range-value { font-size: 36px; display: block; text-align: center; margin-top:15px;}

  /* CHROME */
  input[type=range]{
     -webkit-appearance: none;
    margin: 0;
    border: 0 none;
    padding: 0;
  }
  input[type=range]::-webkit-slider-runnable-track {
     width: 350px;
     height: 5px;
     background: #BABCBE;
     border: none;
     border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none;
     border: none;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background: #2CA25F;
     margin-top: -4px;
  }
  input[type=range]:focus {
     outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
     background: #BABCBE;
  }

  /* FIREFOX */
  input[type=range]{
     /* fix for FF unable to apply focus style bug  */
     border: 0 solid white; 

     /*required for proper track sizing in FF*/
     width: 350px;
  }
  input[type=range]::-moz-range-track {
     width: 350px;
     height: 8px;
     background: #BABCBE;
     border: none;
     border-radius: 3px;
  }
  input[type=range]::-moz-range-thumb {
     border: none;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background: #2CA25F;
  }

  /*hide the outline behind the border*/
  input[type=range]:-moz-focusring{
     outline: 1px solid white;
     outline-offset: -1px;
  }
  input[type=range]:focus::-moz-range-track {
     background: #BABCBE;
  }

  /* IE10 */
  input[type=range]::-ms-track {
     width: 350px;
     height: 5px;

     /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
     background: transparent;

     /*leave room for the larger thumb to overflow with a transparent border */
     border-color: transparent;
     border-width: 6px 0;

     /*remove default tick marks*/
     color: transparent;
  }
  input[type=range]::-ms-fill-lower {
     background: #777;
     border-radius: 10px;
  }
  input[type=range]::-ms-fill-upper {
     background: #ddd;
     border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
     border: none;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background: #ffc63f;
  }
  input[type=range]:focus::-ms-fill-lower {
     background: #888;
  }
  input[type=range]:focus::-ms-fill-upper {
     background: #ccc;
  }




/* ======== Media Query ======== */

@media only screen and (max-width: 1024px)  and (orientation: landscape) {
.wraper { margin-right: 5%; margin-left: 5%;}
.copyright { font-size: 0.6em; }
.links li { color:#fff; font-size: 0.6em; }
.copying-info { font-size: 0.6em;}
.dj_header {font-size: 1.5em;}
}


@media only screen and (max-width: 1024px)  and (orientation: portrait) {
.wraper { margin-right: 5%; margin-left: 5%;}
.copyright { font-size: 0.6em; }
.links li { color:#fff; font-size: 0.6em; }
.copying-info {font-size: 0.6em;}
.dj_header {font-size: 1.5em;}
}

@media only screen and (max-width: 601px) {
.wraper { margin-right: 5%; margin-left: 5%;}
.copyright { font-size: 0.7em; }
.copying-info { font-size: 0.6em;}
.dj_header {display: none;}
.links li {display:none;}
.logo {margin-top: 15px;}
.p2 {display: none;}
}

